<%- include('common/header'); -%>
<body>
		<%- include('common/Navbar'); -%>
		<div class="container">
			<h1>URL Shrinker</h1>
			<form action="/api/short" method="POST" class="row gy-2 gx-3 align-items-center">
				<label for="origUrl" class="sr-only">URL</label>
				<div class="col-9">
					<input
					required
					placeholder="URL"
					type="url"
					name="origUrl"
					id="origUrl"
					class="form-control col mr-2"
					/>
				</div>
				<div class="col-auto">
					<button class="btn btn-success" type="submit">Shrink This!</button>
				</div>
				
			</form>

			<table class="table table-striped table-responsive">
				<thead>
					<tr>
						<th>Full URL</th>
						<th>Short URL</th>
						<th>Clicks</th>
						<th>Acc Clicks</th>
					</tr>
				</thead>
				<tbody>
					<% shortUrls.forEach(shortUrl => { %>
					<tr>
						<td><a href="<%= shortUrl.origUrl %>"><%= shortUrl.origUrl %></a></td>
						<td><a href="<%= shortUrl.shortUrl %>"><%= shortUrl.shortUrl %></a></td>
						<td><%= shortUrl.clicks %></td>
						<td>
							<a href="/urls/<%= shortUrl._id %>">
								<button class="btn btn-primary"><%= shortUrl.clicks %></button>
							  </a>
						</td>
						
					</tr>
					<% }) %>
				</tbody>
			</table>
			
		</div>
		<!-- Add Bootstrap JavaScript -->
			
		<%- include('common/scripts'); -%>	
		
	</body>
	<%- include('common/footer'); -%>	
</html>